@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

@font-face {
    font-family: "valoon";
    src: url(/valoon.ttf) format("truetype");
}

h1 {
    font-size: 100px;
    font-family: "Agbalumo";
}