.titulo {
    font-size: 35;
    color: blue;
}
.sub--1 {
    font-size: 20px;
    color: blueviolet;
}
.sub--2 {
    font-size: 20px;
    color: yellow;
}
.paragrafo {
    font-size: 25px;
    color: brown;
}