.todo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: cornflowerblue;
     
}

.item {
    padding: 20px;
    background: brown;
    color: white;
    margin: 10px;
    height: 100px;    
}
