.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    height: 500px;
}

.item {
    padding: 20px;
    background: brown;
    color: white;
    margin: 10px;
    height: 20px;    
}
