.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: cornflowerblue;
    height: 500px;
}

.item {
    padding: 20px;
    background: brown;
    color: white;
    margin: 10px;
    height: 20px;    
}
